<a href="https://colab.research.google.com/github/LeoTyche/Exam-Project-President-Obama/blob/main/datagame.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [6]:
artworks = pd.read_parquet('https://kuleuven-datathon-2023.s3.eu-central-1.amazonaws.com/data/Artwork.parquet.gzip')
artworks.describe(include='all')

,id,name,url,image_url,artist,rating,summary,year,medium,location
count,10517.000000,10517,10517,10517,10517.000000,4546.000000,6761,261.000000,526.000000,704
unique,NaN,10135,10517,10516,NaN,NaN,5192,NaN,NaN,263
top,NaN,Untitled,http://wikigallery.org/wiki/painting_133032/Vi...,https://kuleuven-datathon-2023.s3.eu-central-1...,NaN,NaN,A still life (plural: still lifes) is a work o...,NaN,NaN,
freq,NaN,16,1,2,NaN,NaN,51,NaN,NaN,68
mean,5258.488637,NaN,NaN,NaN,286.883237,8.293225,NaN,1803.283525,0.804183,NaN
std,3036.716212,NaN,NaN,NaN,183.243794,2.349830,NaN,148.476870,2.056734,NaN
min,0.000000,NaN,NaN,NaN,0.000000,1.000000,NaN,1338.000000,0.000000,NaN
25%,2629.000000,NaN,NaN,NaN,112.000000,7.000000,NaN,1781.000000,0.000000,NaN
50%,5258.000000,NaN,NaN,NaN,288.000000,9.000000,NaN,1867.000000,0.000000,NaN
75%,7888.000000,NaN,NaN,NaN,448.000000,10.000000,NaN,1893.000000,0.000000,NaN
max,10519.000000,NaN,NaN,NaN,615.000000,10.000000,NaN,2000.000000,12.000000,NaN

In [7]:
dfnew=artworks[['image_url']]
dfnew.head()

                                           image_url
0  https://kuleuven-datathon-2023.s3.eu-central-1...
1  https://kuleuven-datathon-2023.s3.eu-central-1...
2  https://kuleuven-datathon-2023.s3.eu-central-1...
3  https://kuleuven-datathon-2023.s3.eu-central-1...
4  https://kuleuven-datathon-2023.s3.eu-central-1...

In [8]:
dfnew.insert(1, 'index',0)
dfnew

                                               image_url  index
0      https://kuleuven-datathon-2023.s3.eu-central-1...      0
1      https://kuleuven-datathon-2023.s3.eu-central-1...      0
2      https://kuleuven-datathon-2023.s3.eu-central-1...      0
3      https://kuleuven-datathon-2023.s3.eu-central-1...      0
4      https://kuleuven-datathon-2023.s3.eu-central-1...      0
...                                                  ...    ...
10512  https://kuleuven-datathon-2023.s3.eu-central-1...      0
10513  https://kuleuven-datathon-2023.s3.eu-central-1...      0
10514  https://kuleuven-datathon-2023.s3.eu-central-1...      0
10515  https://kuleuven-datathon-2023.s3.eu-central-1...      0
10516  https://kuleuven-datathon-2023.s3.eu-central-1...      0

[10517 rows x 2 columns]

In [13]:
generated = pd.read_parquet('https://kuleuven-datathon-2023.s3.eu-central-1.amazonaws.com/data/Generated.parquet.gzip')
generated.describe(include='all')

        source_artwork                                                url
count      3447.000000                                               3447
unique             NaN                                               3447
top                NaN  https://kuleuven-datathon-2023.s3.eu-central-1...
freq               NaN                                                  1
mean       1875.650421                                                NaN
std        1077.144625                                                NaN
min           1.000000                                                NaN
25%         932.500000                                                NaN
50%        1902.000000                                                NaN
75%        2800.500000                                                NaN
max        3724.000000                                                NaN

In [10]:
dfnew = dfnew.rename(columns={'image_url': 'url'})
dfnew

                                                     url  index
0      https://kuleuven-datathon-2023.s3.eu-central-1...      0
1      https://kuleuven-datathon-2023.s3.eu-central-1...      0
2      https://kuleuven-datathon-2023.s3.eu-central-1...      0
3      https://kuleuven-datathon-2023.s3.eu-central-1...      0
4      https://kuleuven-datathon-2023.s3.eu-central-1...      0
...                                                  ...    ...
10512  https://kuleuven-datathon-2023.s3.eu-central-1...      0
10513  https://kuleuven-datathon-2023.s3.eu-central-1...      0
10514  https://kuleuven-datathon-2023.s3.eu-central-1...      0
10515  https://kuleuven-datathon-2023.s3.eu-central-1...      0
10516  https://kuleuven-datathon-2023.s3.eu-central-1...      0

[10517 rows x 2 columns]

In [11]:
dflong = pd.concat([dfnew, generated[['url']]], axis=0)
dflong = dflong.reset_index(drop=True)
dflong = dflong.fillna(1)
dflong

                                                     url  index
0      https://kuleuven-datathon-2023.s3.eu-central-1...    0.0
1      https://kuleuven-datathon-2023.s3.eu-central-1...    0.0
2      https://kuleuven-datathon-2023.s3.eu-central-1...    0.0
3      https://kuleuven-datathon-2023.s3.eu-central-1...    0.0
4      https://kuleuven-datathon-2023.s3.eu-central-1...    0.0
...                                                  ...    ...
13959  https://kuleuven-datathon-2023.s3.eu-central-1...    1.0
13960  https://kuleuven-datathon-2023.s3.eu-central-1...    1.0
13961  https://kuleuven-datathon-2023.s3.eu-central-1...    1.0
13962  https://kuleuven-datathon-2023.s3.eu-central-1...    1.0
13963  https://kuleuven-datathon-2023.s3.eu-central-1...    1.0

[13964 rows x 2 columns]

In [51]:
import io
import requests
from PIL import Image
import numpy as np
from skimage import color
from scipy.stats import skew, kurtosis


def display_artwork(url):
    response = requests.get(url)
    image = Image.open(io.BytesIO(response.content))
    lab = color.rgb2lab(image)
    # Compute the mean and standard deviation of the L, a, and b channels
    l_med, l_std = np.median(lab[:,:,0]), np.std(lab[:,:,0])
    a_med, a_std = np.median(lab[:,:,1]), np.std(lab[:,:,1])
    b_med, b_std = np.median(lab[:,:,2]), np.std(lab[:,:,2])
    # Compute the skewness and kurtosis of the L, a, and b channels
    l_skew, l_kurt = skew(lab[:,:,0].flatten()),kurtosis(lab[:,:,0].flatten())
    a_skew, a_kurt = skew(lab[:,:,1].flatten()),kurtosis(lab[:,:,1].flatten())
    b_skew, b_kurt = skew(lab[:,:,2].flatten()),kurtosis(lab[:,:,2].flatten())
    # Combine the color features into a single feature vector
    return l_med, l_std, l_skew, l_kurt, a_med, a_std, a_skew, a_kurt, b_med, b_std, b_skew, b_kurt

In [67]:
dfnum = pd.DataFrame(columns=['l_med', 'l_std', 'l_skew', 'l_kurt', 'a_med', 'a_std', 'a_skew', 'a_kurt', 'b_med', 'b_std', 'b_skew', 'b_kurt'])

# Loop over each image in the directory
for index, value in dflong.iloc[0:160,0].iteritems():
    # Load and compute the image
    l_med, l_std, l_skew, l_kurt, a_med, a_std, a_skew, a_kurt, b_med, b_std, b_skew, b_kurt = display_artwork(value)

    # Add the results to the dataframe
    dfnum = dfnum.append({'l_med':l_med, 'l_std':l_std, 'l_skew':l_skew, 'l_kurt':l_kurt, 'a_med':a_med, 'a_std':a_std, 'a_skew':a_skew, 'a_kurt':a_kurt, 'b_med':b_med, 'b_std':b_std, 'b_skew':b_skew, 'b_kurt':b_kurt}, ignore_index=True)
dfnum

,l_med,l_std,l_skew,l_kurt,a_med,a_std,a_skew,a_kurt,b_med,b_std,b_skew,b_kurt
0,47.716538,23.865636,-0.166451,-0.985503,-1.422947,7.803875,0.542905,0.100163,6.672251,34.178400,-0.012829,-0.692653
1,50.837845,23.572719,-0.214731,-0.679242,-0.394732,4.372734,-0.203565,0.594138,-9.619244,13.382059,1.059677,2.741290
2,41.194366,20.779989,0.299427,-0.382039,-1.112712,2.508585,-0.098919,0.437144,16.574090,7.920362,-0.209257,-0.837199
3,72.624846,23.703108,-1.164299,0.834371,-7.095257,8.687924,1.133007,2.519608,17.756598,23.345548,-0.505553,-0.044986
4,33.220092,23.880610,0.220657,-1.214223,3.115402,5.419594,0.531002,0.172283,23.374406,18.762898,0.311543,-1.226089
...,...,...,...,...,...,...,...,...,...,...,...,...
155,90.414288,28.281435,-1.628846,1.229949,-0.002308,0.791921,0.491697,9.660766,0.004346,1.470962,-1.469208,4.649184
156,91.970568,29.140366,-1.810776,1.769510,0.840918,1.180224,-0.084739,5.214948,0.253364,1.611781,-1.247390,8.566818
157,13.251097,13.525261,3.269422,12.370278,5.063545,3.454189,2.040768,6.323794,1.017914,3.812319,2.777455,8.386190
158,23.254702,14.307819,2.452472,7.259879,6.184162,3.051179,1.445641,5.811854,2.354010,5.482817,2.455456,5.924086
159,30.455259,24.762214,0.703148,-0.506419,3.543734,2.181929,-0.019758,-0.247962,7.059189,5.277131,0.570667,-0.473727

In [86]:
# add a new column called "gender"
dflong['shape'] = 0

# Loop over the column and print the values
for index, value in dflong.iloc[0:2,0].iteritems():
    response = requests.get(value)
    image = Image.open(io.BytesIO(response.content))
    lab = color.rgb2lab(image)
    shu=np.shape(lab)[2]
    dflong.at[index,'shape']=shu
dflong

                                                     url  index  shape
0      https://kuleuven-datathon-2023.s3.eu-central-1...    0.0      3
1      https://kuleuven-datathon-2023.s3.eu-central-1...    0.0      3
2      https://kuleuven-datathon-2023.s3.eu-central-1...    0.0      0
3      https://kuleuven-datathon-2023.s3.eu-central-1...    0.0      0
4      https://kuleuven-datathon-2023.s3.eu-central-1...    0.0      0
...                                                  ...    ...    ...
13959  https://kuleuven-datathon-2023.s3.eu-central-1...    1.0      0
13960  https://kuleuven-datathon-2023.s3.eu-central-1...    1.0      0
13961  https://kuleuven-datathon-2023.s3.eu-central-1...    1.0      0
13962  https://kuleuven-datathon-2023.s3.eu-central-1...    1.0      0
13963  https://kuleuven-datathon-2023.s3.eu-central-1...    1.0      0

[13964 rows x 3 columns]